---
import PostPreview from "@/components/blog/PostPreview.astro";
import PageLayout from "@/layouts/Base.astro";
import { getAllPosts, sortMDByDate } from "@/utils";
import rocket from '../assets/train.gif';
const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const cactusTech: { desc: string; href: string; title: string }[] = [];
---
<PageLayout meta={{ title: "Home" }}>
	<section>
  <h1 class="title mb-7">Namaste🙏</h1>
  I am Abhigyan and this website is my mind rambling in kilobytes.<br>
  Expect half-baked thoughts, doodles, full-fledged posts, or anything in between.<br>
  Here you'll find a mix of how-tos, whys, whats, and a lot more.<br>
  Feel free to explore.🔍<br>


</p>
<br>
<img src={rocket.src} alt="the breeze." style="padding: 1px; border: 2px solid black;" />
	</section>
</PageLayout>
